header{
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #fff;
    /* position: fixed;
    top: 0; */
    z-index: 999;
    border-bottom: 1px solid #C2C6D6; 
    box-shadow: 0 4px 30px #0000001a;
    align-items: center;
}

.header-bar{
    display: grid;
    grid-template-columns: 13% 80% 5% 2%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

/* Logo */

.logo{
    font-family: "Montserrat", poppins ,sans-serif;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: #0058BE;
}

/* Search */


.bar-search input{
    width: 60%;
    background-color: #EFF4FF;
    border-radius: 12px;
}

/* Perfil */
.container-user{
    display: flex;
    align-items: center;
}

.img-user{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}